.not-found {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 450ms timing-function delay iteration-count direction fill-mode;
}

.not-found > h1 {
    text-shadow: -12px 5px rgba(0, 0, 0, 0.25);
}

.not-found-code {
    color: #aaa;
    font-size: 1.2rem;
}