.about {
    padding: 10vw;
}

.about-info {
    font-size: 1.8rem;
    margin-top: 40px;
    animation: fadeIn 450ms ease-in-out 1400ms forwards;
    opacity: 0;
}

@media screen and (max-width: 425px) {
    .about-info {
        font-size: 1.3rem;
    }
}