.about {
    padding: 10vw;
}

.terminal {
    background-color: var(--terminal-bg);
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.25);
    min-height: 50vh;
    cursor: text;
    animation: fadeTerminal 450ms ease-in-out forwards;
    position: relative;
}

.current-dir {
    font-size: 1.3rem;
    font-weight: 600;
}

.end-current-dir {
    color: var(--accent-color);
}

.terminal-text {
    font-size: 1rem;
    word-spacing: 5px;
    color: var(--secondary-text-color);
    position: absolute;
    bottom: 0;
}

@keyframes fadeTerminal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}