/* A container to stop the overflow */
.cusorContainer {
    width: 100%;
    height: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
}
.cursor {
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    pointer-events: none;
    z-index: 3;
    opacity: .5;
}

.hover-cursor {
    width: 3.5rem;
    height: 3.5rem;
}

/* 
    Dissable the transition for users who prefer reduced motion
    https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion 
*/
@media (prefers-reduced-motion: reduce) {
    .cursor {
        transition-duration: 0.1ms;
    }
}
@media screen and (max-width: 600px) {
    .cursor {
        display: none;
    }

    html, * {
        cursor: default !important;
    }
}


@media (prefers-reduced-motion: reduce) {
    .cursor {
        transition-duration: 0.1ms;
    }
}
