.cursor {
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
    pointer-events: none;
    z-index: 3;
}

.hover-cursor {
    width: 3.5rem;
    height: 3.5rem;
    opacity: .5;
}

@media screen and (max-width: 600px) {
    .cursor {
        display: none;
    }

    html, * {
        cursor: default !important;
    }
}