@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

:root {
    --main-bg: #222222;
    --side-bar-bg: #131313;
    --accent-color: #335FD1;
    --secondary-text-color: #EDECEC;
}

body {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    background-color: var(--main-bg);
    color: white;
    padding-left: 130px;
}

h1 {
    font-size: 4rem;
    font-weight: 600;
    margin: 0;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

p {
    color: var(--secondary-text-color);
    font-weight: 300;
    font-size: 1.6rem;
    margin: 20px 0;
}

.btn {
    border: 2px solid var(--accent-color);
    width: auto;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 5px 30px;
    font-size: 2rem;
    transition: all .3s ease-in;
}

.btn:hover {
    background-color: var(--accent-color);
}

.terminal {
    color: var(--accent-color);
}