@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

:root {
    --main-bg: #222222;
    --side-bar-bg: #131313;
    --accent-color: #335FD1;
    --secondary-text-color: #EDECEC;
}

body {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    background-color: var(--main-bg);
    color: white;
}