@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

:root {
    --main-bg: #222222;
    --side-bar-bg: #131313;
    --accent-color: #335FD1;
    --secondary-text-color: #EDECEC;
    --terminal-bg: #111111;
    --typewriter-color: #8bff4d;
}

body {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    background-color: var(--main-bg);
    color: white;
    padding-left: 130px;
}

h1 {
    font-size: 4rem;
    font-weight: 600;
    margin: 0;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.sub-header {
    color: var(--secondary-text-color);
    font-weight: 300;
    font-size: 1.6rem;
    margin: 20px 0;
}

.btn {
    border: 2px solid var(--accent-color);
    width: auto;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 5px 30px;
    font-size: 2rem;
    transition: all .3s ease-in;
    margin-top: 20px;
}

.btn:hover {
    background-color: var(--accent-color);
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(114.69deg, #2E71D6 38.74%, #5000B6 83.94%);
}

::selection {
    background-color: #4d06b7;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}