.mobile-nav {
    display: none;
}

@media screen and (max-width: 670px) {
    .mobile-nav {
        display: block;
    }
}

.menu {
    cursor: pointer;
    position: absolute;
    top: 2%;
    left: 3%;
    z-index: 4;
}

.menu-bar {
    height: 2px;
    background-color: white;
    margin: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

}

.long-bar {
    width: 30px;
}   

.short-bar {
    width: 20px;
}

.nav-links {
    position: fixed;
    height: 100%;
    width: 100%;
    background: var(--gradient);
    z-index: 3;
    clip-path: circle(100px at -20% -20%);
    -webkit-clip-path: circle(100px at -20% -20%);
    transition: all 1s ease-in-out;
}

.nav-links.open {
    clip-path: circle(1500px at -20% -20%);
    -webkit-clip-path: circle(1500px at -20% -20%);
}

.nav-links > ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-links > ul > li{
    margin: 20px;
    font-size: 2.5rem;
}

.mobile-nav-link {
    color: var(--secondary-text-color);
    text-decoration: none;
}