.work {
    padding: 10vw;
}

.projects {
    margin-top: 30px;
    animation: fadeIn 450ms ease-in-out 1400ms forwards;
    opacity: 0;
}

.project {
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: -7px 7px 20px 15px  rgba(0, 0, 0, 0.25);
    height: 50vh;
    width: 50vh;
}

.project-info {
    font-size: 1.8rem;
}