.work {
    padding: 10vw;
}

.projects {
    margin-top: 50px;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10%; */
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1020px) {
    .projects {
        grid-template-columns: 1fr;
        grid-gap: 5%;
    }
}